extends ../application.pug

block content
  .container
    .card.card-block
      .row
        .col-xs-12.col-md-8
          h1=book.title
          h2=book.author
          img(width="145" height="200" src=book.imgURL)
          p=book.description

          form(action="/getbook/get-book" method="POST")
            div(class="form-group")
              input(type="hidden" name="ReaderId" value=reader.id class="form-control")
            div(class="form-group")
              input(type="hidden" name="BookId" value=book.id class="form-control")

            div(class="form-group text-xs-right")
              button(type="submit" class="get-button btn btn-success") Get this book
